.right_choice {
    position:absolute;
    border-left: 2px dashed black;
    right:0px;
    height:390px;
    width:50%;
    padding: 5px;
    background-color:#aaaaaa;
}
.right_choice h1 {
    margin: 0px;
    padding-left: 0px;
    line-height: 30px;
}
.right_choice span {
    font-size: 12px;
    display: inline-block;
}
.right_choice .looking {
    position: relative;
    width: 90%;
    height: 300px;
    margin: 0px auto;
    margin-top: 10px;
    padding: 5px;
    border: 1px dashed black;
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
    ms-border-radius: 5px;
    o-border-radius: 5px;
    border-radius: 5px;
}
.looking img {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: none;
}
.looking .poster_info {
    font-size: 16px;
    float: left;
    width: 200px;
}
.looking .job_info {
    margin: 5px 5px;
    padding-left: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}