<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<!-- Load Css sheet -->
		<link href="/LiveStream/public/css/style.css" rel="stylesheet" type="text/css">
        <!-- Load Jquery latest min from google -->
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <!-- Load Jquery page based -->
        <script src="http://localhost/LiveStream/public/js/default.js" type="text/javascript"></script>
		<title>Homepage!</title>
	</head>

	<body>
		{main_wrapper}
	</body>
</html>
