<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		
		<link href="/LiveStream/public/css/style.css" rel="stylesheet" type="text/css">
		<title>Homepage!</title>
	</head>

	<body>
		<div class="main_wrapper">
			<div class="navbar">{navbar}</div>
			<div class="container">
				<div class="header">
					<div class="login_box"> </div>
				</div>				

				<div class="left_choice"></div>

				<div class="right_choice"></div>
			
			<div class="bottom_nav"></div>
			<div class="copyright">{copyright}</div>
			</div>
		</div>
	</body>
</html>
