html,body {
	margin:0px;
	padding:0px;
	height:100%;
}

{main_wrapper}

{header}

{login_box}

{navbar}

.container {
	position:absolute;
	top:20px;
	width:800px;
	background-color:blue;
	height:auto;
	display:block;
}




.left_choice {
	position:absolute;
	top:80px;
	left:0px;
	height:400px;
	width:400px;
	background-color:#aaaaaa;
}

.right_choice {
	position:absolute;
	top:80px;
	left:400px;
	height:400px;
	width:400px;
	background-color:#333333;
}
		
.bottom_nav {
	position:absolute;
	top:480px;
	width:800px;
	height:20px;
	background-color:black;
	display:block;
}
.copyright {
	position:absolute;
	top:500px;
	width:800px;
	height:20px;
	background-color:white;
	display:block;
	text-align:center;	
}
