<h1>To get Hired..</h1>
<span>I want to script 4 you....</span>
<div class="looking">
    <img src="" title="scripter" alt="scripter" width='100' height='100' />
    <div class="poster_info">
        Company: Phobia
        Country: Netherland
        Contact: Phobia@Morphius.inc
    </div>
    <div class="clear_float"></div>
    <div class="job_info">php - css - html - SQL - javascript - Jquery - VB - VBA</div>
    <div class="job_decription">
    I have skills and want to serve you.
    Done some jobs, like scripting this site from scratch.
    </div>
</div>