<h1>Looking to Hire..</h1>
<span>scripters needed....</span>
<div class="to_hire">
    <img src="" title="company" alt="company" width='100' height='100' />
    <div class="poster_info">
        Company: Morphius.inc
        Country: Netherland
        Contact: Phobia@Morphius.inc
    </div>
    <div class="clear_float"></div>
    <div class="job_info">php - css - html - SQL - javascript - Jquery</div>
    <div class="job_decription">
    If you have a scripting job and no one the write it for you.
    Post your work here and the scripter will find you.
    </div>
</div>